{% extends 'base.html' %}
{% block content %}
    
    <div class="container mt-5">
        {% include "adminSide/navbar.html" %}
        <h1 class="text-center mb-4">Gérer les services</h1>

        <!-- Affichage et modification du texte de ServiceSection -->
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Texte sous le titre de la section</h2>
                <p class="card-text">{{ all_servicesection.under_title }}</p>
                <a href="{% url 'update_servicesection' all_servicesection.id %}" class="btn btn-primary">Modifier</a>
            </div>
        </div>

        <!-- Tableau des Services -->
        <h2 class="mb-3">Liste des services</h2>
        <div class="mb-3">
            <a href="{% url 'create_service' %}" class="btn btn-success">Ajouter un service</a>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Icône</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for service in all_services %}
                <tr>
                    <td><i class="{{ service.icon }}"></i></td>
                    <td>{{ service.title }}</td>
                    <td>{{ service.description }}</td>
                    <td>
                        <a href="{% url 'update_service' service.id %}" class="btn btn-warning btn-sm">Mettre à jour</a>
                        <a href="{% url 'delete_service' service.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
